.sidebar {
    padding-left: 24px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.sidebar-header img {
    display: block;
    margin: 0;
}

.sidebar-header p {
    font-size: 1.4rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 1.4rem;
}

.sidebar-btn-active {
    color: red;
    font-weight: bold;
}